<% @affairs.each_with_index do |affair, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= truncate affair.content %>
      <% if affair.reveal? %>
        <span class="badge badge-primary">已发布</span>
      <% else %>
        <span class="badge badge-danger">未发布</span>
      <% end -%>
    </div>
    <div>
      <%= link_to '查看', affair_path(affair), class: "badge badge-primary"%>
      <%= link_to '编辑', edit_affair_path(affair), class: "badge badge-primary"%>
      <%= link_to '删除', delete_affair_path(affair), remote: true, class: "badge badge-primary" %>
      <%= link_to '照片', affair_affair_images_path(affair), class: "badge badge-primary" %>
      <%= link_to '评论', affair_affair_comments_path(affair), class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div><%= link_to '新建', new_affair_path, class: "btn btn-primary btn-sm" %></div>
  <div><%= paginate @affairs %></div>
</div>
<%= render 'shared/confirm_modal' %>
