  <% @guests.each_with_index do |guest, index| %>
    <div class="d-flex justify-content-between">
      <div>
        <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
        <small><%= guest.created_at.strftime("%F") %></small>
        <%= guest.nickname %>
      </div>
      <div>
        <% if guest.guest_address %>
          <%= link_to '地址', guest_guest_address_path(guest), class: "badge badge-primary" %>
        <% end -%>  
        <%= link_to '评论', guest_guest_comments_path(guest), class: "badge badge-primary" %>
        <%= link_to '删除', delete_guest_path(guest), remote: true, class: "badge badge-primary" %>
      </div>  
    </div>
  <% end -%>
  <%= paginate @guests %>
  <%= render 'shared/confirm_modal' %>
