<% @comments.each_with_index do |comment, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <% if comment.reveal? %>
        <span class="badge badge-danger">已显示</span>
      <% else %>
        <span class="badge badge-primary">已隐藏</span>
      <% end -%>
      <%= comment.guest.nickname %>|
      <%= comment.content %>
    </div>
    <div>
      <%= link_to '删除', delete_comment_path(comment), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<%= paginate @comments %>
<%= render 'shared/confirm_modal' %>
