<div class="d-flex">
  <div>姓名:<%= @guest_address.name %></div>
</div>
<div class="d-flex">
  <div>号码:<%= @guest_address.mobile %></div>
</div>
<div class="d-flex justify-content-between">
  <div>详细地址:<%= @guest_address.province + @guest_address.city + @guest_address.country + @guest_address.detail %></div>
  <div><%= link_to '删除', delete_guest_guest_address_path(@guest), remote: true, class: "badge badge-primary" %></div>
</div>
<div class="d-flex justify-content-between mt-2">
  <div><%= link_to '客户列表', guests_path, class: "btn btn-primary btn-sm" %></div>
  <div></div>
</div>
<%= render 'shared/confirm_modal' %>
