<% @menu_details.each_with_index do |menu_detail, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= menu_detail.title %>
      <% if menu_detail.reveal? %>
        <span class="badge badge-primary">已发布</span>
      <% else %>
        <span class="badge badge-danger">未发布</span>
      <% end -%> 
    </div>
    <div>
      <%= link_to '查看', menu_menu_detail_path(@menu, menu_detail), class: "badge badge-primary"%>
      <%= link_to "编辑", edit_menu_menu_detail_path(@menu, menu_detail), class: "badge badge-primary" %>
      <%= link_to '删除', delete_menu_menu_detail_path(@menu, menu_detail), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div>
    <%= link_to '价目表', menus_path, class: "btn btn-primary btn-sm" %>
    <%= link_to '新建', new_menu_menu_detail_path(@menu), class: "btn btn-primary btn-sm" %>
  </div>
  <div><%= paginate @menu_details %></div>
</div>
<%= render 'shared/confirm_modal' %>
