<% @product_details.each_with_index do |product_detail, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= product_detail.title %>
      <% if product_detail.reveal? %>
        <span class="badge badge-primary">已发布</span>
      <% else %>
        <span class="badge badge-danger">未发布</span>
      <% end -%> 
    </div>
    <div>
      <%= link_to '查看', product_product_detail_path(@product, product_detail), class: "badge badge-primary"%>
      <%= link_to "编辑", edit_product_product_detail_path(@product, product_detail), class: "badge badge-primary" %>
      <%= link_to '删除', delete_product_product_detail_path(@product, product_detail), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div>
    <%= link_to '返回商品管理', products_path, class: "btn btn-primary btn-sm" %>
    <%= link_to '新建', new_product_product_detail_path(@product), class: "btn btn-primary btn-sm" %>
  </div>
  <div><%= paginate @product_details %></div>
</div>
<%= render 'shared/confirm_modal' %>
