  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">标题:</div>
      <div class="col-sm-8 col-form-label"><%= @banner_item.name %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @banner_item.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">关联商品:</div>
      <div class="col-sm-8 col-form-label"><%= @banner_item.product.name %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">图片:</div>
      <div class="col-sm-8 col-form-label">
        <% if @banner_item.pic.url %>
          <%= image_tag @banner_item.pic.url, height: "150" %>
        <% end -%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @banner_item.order %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_banner_banner_item_path(@banner, @banner_item), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
