<% @states.each_with_index do |state, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= state.name %>
      <% if state.reveal? %>
        <span class="badge badge-primary">已发布</span>
      <% else %>
        <span class="badge badge-danger">未发布</span>
      <% end -%>
    </div>
    <div>
      <%= link_to '查看', state_path(state), class: "badge badge-primary"%>
      <%= link_to '编辑', edit_state_path(state), class: "badge badge-primary"%>
      <%= link_to '删除', delete_state_path(state), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div><%= link_to '新建', new_state_path, class: "btn btn-primary btn-sm" %></div>
  <div><%= paginate @states %></div>
</div>
<%= render 'shared/confirm_modal' %>
