  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">标题:</div>
      <div class="col-sm-8 col-form-label"><%= @state.name %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">内容:</div>
      <div class="col-sm-8 col-form-label"><%= @state.content %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">图片:</div>
      <div class="col-sm-8 col-form-label">
        <% if @state.pic.url %>
          <%= image_tag @state.pic.url, height: "150" %>
        <% end -%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">关联摄影照片:</div>
      <div class="col-sm-8 col-form-label"><%= @state.tap_photograph.name %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @state.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @state.order %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_state_path(@state), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
