<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <% if user_signed_in? %>
        <% if current_user.has_roles?(:root_admin) %>
          <li class="nav-item">
            <%= link_to "用户管理", admins_path, class: "nav-link #{ ((controller_name=='admins')&&(action_name=='index')) ? 'active' : '' }" %>
          </li>
          <li class="nav-item">
            <%= link_to "客户联系", clients_path, class: "nav-link #{ (controller_name == 'clients') ? 'active' : '' }" %>
          </li>
          <li class="nav-item">
            <%= link_to "新增用户", new_admin_path, class: "nav-link #{ ((controller_name=='admins')&&(action_name=='new')) ? 'active' : '' }" %>
          </li>
        <% else %>
          <% if current_user.has_roles?(:basic) %>
            <li class="nav-item">
              <%= link_to "基本信息", basic_path, class: "nav-link #{ (controller_name == 'basics') ? 'active' : '' } " %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:wedding_basic) %>
            <li class="nav-item">
              <%= link_to "基本信息", wedding_basic_path, class: "nav-link #{ (controller_name == 'wedding_basics') ? 'active' : '' } " %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:workshop_basic) %>
            <li class="nav-item">
              <%= link_to "基本信息", workshop_basic_path, class: "nav-link #{ (controller_name == 'workshop_basics') ? 'active' : '' } " %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:location) %>
            <li class="nav-item">
              <%= link_to "地址设置", location_path, class: "nav-link #{ (controller_name == 'locations') ? 'active' : '' }" %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:comment) %>
            <li class="nav-item">
              <%= link_to "评论管理", comments_path, class: "nav-link #{ (controller_name == 'comments') ? 'active' : '' }" %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:carousel) %>
            <li class="nav-item">
              <%= link_to "轮播图", carousels_path, class: "nav-link #{ (controller_name == 'carousels') ? 'active' : '' }" %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:top) %>
            <li class="nav-item">
              <%= link_to "头部图片", tops_path, class: "nav-link #{ (controller_name == 'tops') ? 'active' : '' }" %>
            </li>
          <% end -%> 
          <% if current_user.has_roles?(:photograph) %>
            <li class="nav-item">
              <%= link_to "摄影分类", photographs_path, class: "nav-link #{ (controller_name == 'photographs') ? 'active' : '' }" %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:consult) %>
            <li class="nav-item">
              <%= link_to "咨询", consults_path, class: "nav-link #{ (controller_name == 'consults') ? 'active' : '' }" %>
            </li>
          <% end -%>
          <% if current_user.has_roles?(:appointment) %>
            <li class="nav-item">
              <%= link_to "预约", appointments_path, class: "nav-link #{ (controller_name == 'appointments') ? 'active' : '' }" %>
            </li>
          <% end -%>
        <% end -%>
        <li class="nav-item">
          <%= link_to "修改密码", edit_user_registration_path, class: "nav-link #{ ((controller_name == 'registrations')&&(action_name=="edit")) ? 'active' : '' }" %>
        </li>
      <% else %>
        <%= link_to "登录", new_user_session_path, class: "nav-link" %>
      <% end -%>
    </ul>
  </div>
</nav>
