  <% @clients.each_with_index do |client, index| %>
    <div class="d-flex justify-content-between">
      <div>
        <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
        <small><%= client.created_at.strftime("%F") %></small>
        <%= client.name %> | 
        <%= client.contact %>
      </div>
      <div>
        <%= link_to '删除', delete_client_path(client), remote: true, class: "badge badge-primary" %>
      </div>  
    </div>
  <% end -%>
  <%= paginate @clients %>
  <%= render 'shared/confirm_modal' %>
