<% @orders.each_with_index do |order, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= order.after_no %>
    </div>
    <div>
      <% if order.after_status == 1 %>
        <span class="badge badge-danger">申请退货</span>
      <% end -%>
      <%= link_to '订单详情', guest_order_path(@guest, order), class: "badge badge-primary" %>
      <%= link_to '删除', delete_guest_order_path(@guest, order), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div><%= link_to '客户列表', guests_path, class: "btn btn-primary btn-sm" %></div>
  <div><%= paginate @orders %></div>
</div>
<%= render 'shared/confirm_modal' %>
