<div class="d-flex">
  <div>订单编号:<%= @order.order_no %></div>
</div>
<div class="d-flex">
  <div>订单名称:<%= @order.snap_name %></div>
</div>
<div class="d-flex">
  <div>订单总价:<%= @order.total_price %></div>
</div>
<div class="d-flex">
  <div>订单商品数量:<%= @order.total_count %></div>
</div>
<% @order_products.each_with_index do |order_product, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= order_product.product.name %>
    </div>
    <div>价格: <%= order_product.product.current_price %></div>
    <div>
      数量: <%= order_product.count %>
    </div>
  </div>
<% end -%>
<div class="d-flex mt-2">
  <div><%= link_to '客户列表', guests_path, class: "btn btn-primary btn-sm" %></div>
</div>
