  <div class="d-flex flex-column">
    <div class="form-limit row">
      <div class="col-sm-2 text-right col-form-label">关联商品:</div>
      <div class="col-sm-8 col-form-label"><%= @product_limit.product.name %></div>
    </div>
    <div class="form-limit row">
      <div class="col-sm-2 text-right col-form-label">过期时间:</div>
      <div class="col-sm-8 col-form-label"><%= @product_limit.limit.strftime("%F %T") %></div>
    </div> 
    <div class="form-limit row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @product_limit.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-limit row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @product_limit.order %></div>
    </div>
    <div class="form-limit row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_product_limit_path(@product_limit), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
