  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">标题:</div>
      <div class="col-sm-8 col-form-label"><%= @product_image.title %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">图片:</div>
      <div class="col-sm-8 col-form-label">
        <% if @product_image.pic.url %>
          <%= image_tag @product_image.pic.url, height: "250" %>
        <% end -%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @product_image.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @product_image.order %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_product_product_image_path(@product, @product_image), class: "btn btn-primary btn-sm" %></div>
    </div>
  </div>
