<%= form_for(@recharge_card) do |f| %>
  <% unless @recharge_card.errors.blank? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% @recharge_card.errors.messages.values.flatten.each do |error| %>
          <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">名称:</div>
      <div class="col-sm-8"><%= f.text_field :name, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">充值卡面额:</div>
      <div class="col-sm-8"><%= f.text_field :recharge, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">赠送金额:</div>
      <div class="col-sm-8"><%= f.text_field :benefit, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8"><%= f.collection_select :reveal, [[RechargeCard::Status::On, '发布'], [RechargeCard::Status::Off, '不发布']], :first, :last, {}, {class: "form-control"}%></div>
    </div> 

    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8"><%= f.number_field :order, class: "form-control" %></div>
    </div>   

    <div class="form-group row">
      <div class="col-sm-2 text-right"></div>
      <div class="col-sm-8 text-left"><%= f.submit (recharge_card.new_record? ? "新建" : "更新"), class: "btn btn-primary btn-sm" %></div>
    </div>
  </div>
<% end -%>
