  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">名称:</div>
      <div class="col-sm-8 col-form-label"><%= @recharge_card.name %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">充值卡面额:</div>
      <div class="col-sm-8 col-form-label"><%= @recharge_card.recharge %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">赠送金额:</div>
      <div class="col-sm-8 col-form-label"><%= @recharge_card.benefit %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8 col-form-label"><%= @recharge_card.reveal? ? "显示" : "隐藏" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8 col-form-label"><%= @recharge_card.order %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label"></div>
      <div class="col-sm-8 text-left"><%= link_to "编辑", edit_recharge_card_path(@recharge_card), class: "btn btn-primary btn-sm" %></div>
    </div>  
  </div>
