<% @categories.each_with_index do |category, index| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= params[:page] ? (index + 1 + (params[:page].to_i-1)*10) : (index+1) %>.
      <%= category.name %>
    </div>
    <div>
      <%= link_to '查看', category_path(category), class: "badge badge-primary"%>
      <%= link_to '编辑', edit_category_path(category), class: "badge badge-primary"%>
      <%= link_to '删除', delete_category_path(category), remote: true, class: "badge badge-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mt-2">
  <div><%= link_to '新建', new_category_path, class: "btn btn-primary btn-sm" %></div>
  <div><%= paginate @categories %></div>
</div>
<%= render 'shared/confirm_modal' %>
