<%= form_for(@product) do |f| %>
  <% unless @product.errors.blank? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% @product.errors.messages.values.flatten.each do |error| %>
          <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="d-flex flex-column">
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">名称:</div>
      <div class="col-sm-8"><%= f.text_field :name, class: "form-control" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">优惠后价格:</div>
      <div class="col-sm-8"><%= f.text_field :current_price, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">优惠前价格:</div>
      <div class="col-sm-8"><%= f.text_field :old_price, class: "form-control" %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">库存:</div>
      <div class="col-sm-8"><%= f.number_field :stock, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">图片:</div>
      <div class="col-sm-8"><%= f.file_field :pic, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">描述:</div>
      <div class="col-sm-8"><%= f.text_area :description, class: "form-control" %></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">关联商品分类:</div>
      <div class="col-sm-8"><%= f.collection_select :product_sort_id, @product_sorts, :id, :name, {}, {class: "form-control"}%></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">显示:</div>
      <div class="col-sm-8"><%= f.collection_select :reveal, [[Product::Status::On, '发布'], [Product::Status::Off, '不发布']], :first, :last, {}, {class: "form-control"}%></div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">首页显示:</div>
      <div class="col-sm-8"><%= f.collection_select :set_home, [[Product::Status::On, '显示首页'], [Product::Status::Off, '不显示首页']], :first, :last, {}, {class: "form-control"}%></div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 text-right col-form-label">排序:</div>
      <div class="col-sm-8"><%= f.number_field :order, class: "form-control" %></div>
    </div>   

    <div class="form-group row">
      <div class="col-sm-2 text-right"></div>
      <div class="col-sm-8 text-left"><%= f.submit (product.new_record? ? "新建" : "更新"), class: "btn btn-primary btn-sm" %></div>
    </div>
  </div>
<% end -%>
